/* css for header */
.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "cardImg sidebar  author"
        "card sidebar author"
        "footer footer footer";
    gap: 20px;
}

/* css for blog-card */
.blog-card {
    grid-area: card;
    font-size: 1.2em;
}     

.card-img {
    grid-area: cardImg;
    display:flex;
    justify-content:center;
}

.sidebar , .author-details{
    grid-area: sidebar;
    color: #bd5a89;
    font-size: 1.2em;
    line-height: 4em;
    background-color: rgb(58, 56, 56);
    height: fit-content;
    padding: 10px;
 }

.author-details, .sidebar-list {
    list-style: circle;
    text-align: left;
}

.author-details {
    grid-area: author;
}  

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header, .footer {
    grid-area: header;
    height: 70px;
    padding: 0;
    /* text-align: center; */
    background: #801446;
    /* justify-content: space-between; */
}   

.footer {
    grid-area: footer;
    padding: 0;
    font-size: 25px;
    height: 100px;
    background-color: lightsteelblue;
  
} 

 .footer,
 .header,
 .footer-items,
 .header-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: justify;
    justify-content: space-between;
 }
 /* css for logo */
 .logo {
     color: #bd5a89;
     font-size: 30px;
     font-style: italic;
     font-weight: bolder;
 }

 /* css for links */
 a {
     color: #bd5a89;
     font-size: 1.2em;
     font-style: italic;
 }

 /* css for signup buttons */
 button.signup {
     padding: 2px 4px;
     background-color: #bd5a89;
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
     
 }