/* css for header */
.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "cardImg sidebar  author"
        "card sidebar author"
        "footer footer footer";
    gap: 20px;
}


.header {
    height: 70px;
    padding: 0;
    text-align: center;
    background: #801446;
    display: flex;
    justify-content: space-between;
    grid-area: header;
}

/* css for logo */
.logo {
    color: #bd5a89;
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
}

/* css for links */
a {
    color: #bd5a89;
    font-size: 25px;
    padding: 25px;
    font-style: italic;
}

/* css for signup buttons */
button.signup {
    padding: 2px 6px;
    background-color: #bd5a89;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 40vw;
}

/* css for blog-card */
.blog-card {
    grid-area: card;
    font-size: 1.2em;
    display: flex;
    position: relative;
    justify-content: left;
}     

.card-img {
    grid-area: cardImg;
    display:flex;
    justify-content:center;
}

.sidebar {
    grid-area: sidebar;
    font-size: 1.2em;
    /* display: flex; */
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: left;
    background-color: rgb(65, 56, 56);

}



.author-details {
    grid-area: author;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
}

.footer {
    grid-area: footer;
    font-size: 25px;
    display: flex;
    height: 100px;
    background-color: lightsteelblue;
    text-align: center;
}