
.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "cardImg sidebar  author"
        "card sidebar author"
        "footer footer footer";
    gap: 20px;
}


.blog-card {
    grid-area: card;
    font-size: 1.2em;
}     
 

.card-img {
    grid-area: cardImg;
    display:flex;
    justify-content:center;
}


.sidebar , .author-details{
    grid-area: sidebar;
    color: #bd5a89;
    font-size: 1.2em;
    line-height: 4em;
    background-color: rgb(58, 56, 56);
    height: fit-content;
    padding: 10px;
 }


.author-details, .sidebar-list {
    list-style: circle;
    text-align: left;
}


.author-details {
    grid-area: author;
}  


.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.header {
    grid-area: header;
    height: 70px;
    background: #801446;
}
 

.footer {
    grid-area: footer;
    height: 60px;
    background-color: lightsteelblue;
 } 


 .footer,
 .header,
 .footer-items,
 .header-items 
{
    padding: 0;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: left;
   
 } 


.footer-items,
.header-items {
    column-gap: 30px;
}


 .logo {
     color: #bd5a89;
     font-size: 30px;
     font-style: italic;
     font-weight: bolder;
 }


 a {
     color: #bd5a89;
     font-size: 1.2em;
     font-style: italic;
 }

 
 button.signup {
     padding: 1px 4px;
     background-color: #bd5a89;
     font-family: 'Times New Roman', Times, serif;
     font-size: 0.7em;
     margin-bottom: 10px;  
 }


 @media (max-width: 900px) {
     .container {
         display: unset;
         font-size: 80%;
     }
     
     .container>p {
         position: relative;
         margin: -3rem 0 2rem 1rem;
         padding: 1rem;
     }

    .sidebar,
    .author-details{
         display: inline-block;
         margin: 0 auto;
         width: fit-content;
         column-gap: 20px ;
         text-align: center;
     }
     
 }