.blog-container {
  display: grid;
  padding: 0;
  grid-template-columns: "column";
  grid-template-rows: "row";
  /* grid-template-areas:
    "postImg1 secondPost"
    "firstPost postImg2"; */
}

.first-post {
  grid-area: firstPost;
}

.second-post {
  grid-area: secondPost;
}

.post-img-one {
  grid-area: postImg1;
}

.post-img-two {
  grid-area: postImg2;
}

@media (max-width: 650px) {
  main {
    display: block;
    font-size: 80%;
  }

  main > p {
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
  }
}
