.blog-container {
  display: grid;
  padding: 0;
  grid-template-columns: "column column column";
  grid-template-rows: "row row row row";
  grid-template-areas:
    "header header header"
    "firstPost firstPost postImg1"
    "secondPost secondPost postImg2"
    "footer footer author";
  gap: 20px;
}

.first-post {
  grid-area: firstPost;
}

.second-post {
  grid-area: secondPost;
}

.post-img-one {
  grid-area: postImg1;
}

.post-img-two {
  grid-area: postImg2;
}

.first-post,
.second-post {
  font-size: 1.5em;
  width: fit-content;
}

.post-img-one img {
  width: 50vw;
}

.post-img-two img {
  width: 50vw;
}

@media (max-width: 900px) {
  .blog-container {
    display: unset;
    font-size: 80%;
  }

  .blog-container > p {
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
  }

  .first-post,
  .second-post,
  .post-img-one,
  .post-img-two,
  .blog-container,
  .author-details {
    display: block;
    margin: 0 auto;
    width: fit-content;
    column-gap: 20px;
    text-align: left;
  }
}
