@import "drawingsGalleyStyle.css";
@import "postStyle.css";
@import "homePage.css";

body {
    font-family: 'Times New Roman', Times, serif;
 }

h1,h2,h3 {
    color: #801446;
    font-style: italic;
    font-weight: bold;
}


i {
    font-style: italic;
}


em {
    font-weight: bold;
}


q {
    color:#801446;
    font-size: 1.8em;
 }




