.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
    justify-content: center;
}

/* Create 3 equal columns that sits next to each other */
.column {
    flex: 30%;
    max-width: 30%;
    padding: 0 8px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}     


/* Responsive layout 1 column*/ 
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}