/* css for posts */
main {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
}

.post-img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 650px) {
  main {
        display: block;
        font-size: 80%;
    }

   main > p {
        position: relative;
        margin: -3rem 0 2rem 1rem;
        padding: 1rem;
        background: rgba(white, 0.8);
    }
}