/* css for posts */
.post-page-container {
    display: grid;
    padding: 2rem;
    grid:10% 80% 10% / 40% 40% 20%;
    grid-template-areas:
        "firstPost secondPost"
        "thirdPost forthPost";
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
}

.header {
    grid-area: "header";
}

.blog-card {
    
}

.post-img {
    max-width: 50%;
    height: auto;
    display: inline-block; */
}


.first-post {
    grid-area: firstPost;
    /* display: flex;
    flex-wrap: wrap; */
}


#what-was-missing {
    grid-area: secondPost;
    /* display: flex;
    flex-wrap: wrap; */
}

#what-can-i-do {
    grid-area: thirdPost;
    display: flex;
    flex-wrap: wrap;
}

#in-conclusion {
    grid-area: forthPost;
    /* display: flex;
    flex-wrap: wrap;
} */

@media (max-width: 650px) {
  main {
        display: block;
        font-size: 80%;
    }

   main > p {
        position: relative;
        margin: -3rem 0 2rem 1rem;
        padding: 1rem;
        background: rgba(white, 0.8);
    }
}