@import "drawingsGalleyStyle.css";

.header {
    height: 70px;
    padding: 0;
    text-align:right;
    background: #801446;
    display: flex;
    justify-content: space-between;
}

/* css for links */
a {color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 25px;
}

/* css for signup buttons */
button.signup {
    padding: 2px 6px;
    background-color: #bd5a89;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 30px;
}



i {
    font-style: italic;
}

em {
    font-weight: bold;
}

 ul > li {
    display: inline-block;
    list-style: none;
    
 }

