/* css for posts */
/* body {
    display: grid;
    padding: 2rem;
    grid:10% 20% 30% 30% 10% / 40% 40% 20%;
    grid-template-areas:
        "header header header"
        "blogCard blogCard blogCard"
        "main main sidbar"
        "main main autour "
        "footer footer footer"; */
 /* } */

.header {
    grid-area: header;
}

.blog-card {
    grid-area:blogCard ;
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   position: relative;
   width: 1000px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

article {
    position: relative;
    display: flex;
}

.post-img {
    max-width: 50%;
    height: auto;
    flex: 0 0 150px;
    display: ; 
}


.first-post {
    grid-area: firstPost;

    /* display: flex;
    flex-wrap: wrap; */
}


.second-post {
    grid-area: secondPost;
    /* display: flex;
    flex-wrap: wrap; */
}

.third-post {
     grid-area: thirdPost;
}

.forth-post {
    grid-area: forthPost;
    /* display: flex;
    flex-wrap: wrap; */
}

.sidebar {
    grid-area: sidebar;
}

.author-details {
    grid-area: author;
}

.footer {
    grid-area: footer;
}

@media (max-width: 650px) {
  main {
        display: block;
        font-size: 80%;
    }

   main > p {
        position: relative;
        margin: -3rem 0 2rem 1rem;
        padding: 1rem;
    }
}