@import "drawingsGalleyStyle.css";
@import "postStyle.css";

body {
    font-family: 'Times New Roman', Times, serif;
    border: solid 2px ;
}

main, footer, header, aside, nav, img, section, article, div {
    border: solid 2px;
}


h1,h2,h3 {
    color: #801446;
    font-style: italic;
    font-weight: bold;
}

/* css for header */
.header {
    height: 70px;
    padding: 0;
    text-align:right;
    background: #801446;
    display: flex;
    justify-content: space-between;
}

/* css for logo */
.logo {
    color: #bd5a89; 
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;   
}

/* css for links */
a {
    color: rgb(32, 32, 224);
    font-size: 20px;
    padding: 25px;
}

/* css for signup buttons */
button.signup {
    padding: 2px 6px;
    background-color: #bd5a89;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 40vw;
}

/* css for blog-card */
.blog-card {
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrep;
}


.card-img {
    /* width: 85%;
    height: 50% ; */
    justify-content:center;
}

/* css for spacial html semanticl tags */
i {
    font-style: italic;
}


em {
    font-weight: bold;
}


q {
    color:#801446;
    font-size: 1.8em;
 }


 ul > li {
    display: inline-block;
    list-style: none;    
 }

